@use "sass:color";
%msg //Just Testing
{
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  max-width: 50vw;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  display: inline-block;
  cursor: pointer;

  h1 
  {
    margin: 0 0 0.2em 0;
  }
}
body
{
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Challenge
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@mixin msg($name:"",$color:#888) 
{
  @if($name != "")
  {
    .msg#{$name}
    {
      @extend %msg;
      background: $color;
      &:hover
      {
        background-color: darken($color,20%);
      }
    }
  }
}
$msgTypesList:('-default','-info');
/*#{$msgTypesList} */
@for $i from 1 through length($msgTypesList)
{
  @if($i == 1)
  {
    @include msg(nth($msgTypesList,$i));
  }
  @else
  {
    @include msg(nth($msgTypesList,$i),rgb(87, 189, 155));
  }
}

